<div style="width: 100%; height: 100%;" class="<bg-light">
  <div>
    <img src="../../../assets/logo.png" class="center" alt="">
  </div>

  <div style="width: 100%; text-align: center; font-weight: bold; font-size: 3em;" class="mt-2">Hospital</div>

  <div class="container d-flex flex-column align-content-between pt-5">
    <button class="btn btn-primary mb-3 mt-3" [routerLink]="['employees/list']">Empleados</button>

    <button class="btn btn-primary mb-3 mt-3" [routerLink]="['patients/list']">Pacientes</button>

    <button class="btn btn-primary mb-3 mt-3" [routerLink]="['patients/list']">Ingresos</button>

    <button class="btn btn-primary mb-3 mt-3" [routerLink]="['patients/list']">Camillas</button>

    <button class="btn btn-primary mb-3 mt-3" [routerLink]="['patients/list']">Departamentos</button>

  </div>
</div>